<!DOCTYPE HTML>
<html>
<head>
<title>Manage Users</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Bootstrap Core //css -->
<link href="/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
<!-- Custom /css -->
<link href="/css/style.css" rel='stylesheet' type='text/css' />
<link rel="stylesheet" href="/css/morris.css" type="text/css"/>
<!-- Graph /css -->
<link href="/css/font-awesome.css" rel="stylesheet"> 
<!-- jQuery -->
<script src="/js/jquery-2.2.0.min.js"></script>
<!-- //jQuery -->
<!-- tables -->
<link rel="stylesheet" type="text/css" href="/css/table-style.css" />
<link rel="stylesheet" type="tcss" href="/css/basictable.css" />
<script type="text/javascript" src="/js/jquery.basictable.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {

      $('#table-two-axis').basictable();

    });
</script>
<!-- //tables -->
<link href='https://fonts.googleapis.com//css?family=Roboto:700,500,300,100italic,100,400' rel='stylesheet' type='text//css'/>
<link href='https//fonts.googleapis.com//css?family=Montserrat:400,700' rel='stylesheet' type='text//css'>
<!-- lined-icons -->
<link rel="stylesheet"href="/css/icon-font.min.css" type='text/css' />
<!-- //lined-icons -->
<link rel="shortcut icon" href="/img/favicon.png">
</head> 
<body>
   <div class="page-container">
   <!--/content-inner-->
<div class="left-content">
	   <div class="mother-grid-inner">
            <!--header start here-->
			<div class="header-main">
					<div class="" style="float:left;">
								<h2><a href="/home" >Leave Management System</a></h2>
					</div>
					<div class="profile_details w3l" style="float:right;">		
						<ul>
							<li class="dropdown profile_details_drop">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
									<div class="profile_/img">	
										<span class="prfil-/img"></img src="/img/profile.jpg" alt=""> </span> 
										<div class="user-name">
											<p sec:authentication="name"></p>
											<span sec:authentication="principal.authorities"></span>
										</div>
										<i class="fa fa-angle-down"></i>
										<i class="fa fa-angle-up"></i>
										<div class="clearfix"></div>	
									</div>	
								</a>
								<ul class="dropdown-menu drp-mnu"> 
									<li> <a href="#"><i class="fa fa-user"></i> Profile</a> </li> 
									<li> <a href="logout"><i class="fa fa-sign-out"></i> Logout</a> </li>
								</ul>
							</li>
						</ul>
					</div>
							
				     <div class="clearfix"> </div>	
				</div>
<!--heder end here-->
	<ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/home">Home</a> <i class="fa fa-angle-right"></i> Manage Users</li>
    </ol>
	<div class="agile-grids">	
				<!-- tables -->
			<div class="alert alert-info" if="${(param.successMessage != null)}">
					<span text="${param.successMessage[0]}"></span>
            </div>		
			<div class="agile-tables">

				  <h3>Manage Users</h3>
				  <table id="table-two-axis" class="two-axis">
					<thead>
						<tr>
							<th>Name</th>
							<th>E-mail</th>
							<th>Role</th>
							<th>Action</th>
						</tr>
					</thead>
					<% users.forEach(user => { %>
						<tbody>
							<tr>
								<td><%= user.fName %> <%= user.lName %></td>
								<td><%= user.username %></td>


					<td>
						<% 
                        let userRoleName = 'No role';
                        if (user.role) {
                            const userRole = roles.find(role => role._id && role._id.toString() === user.role.toString());
                            if (userRole) {
                                userRoleName = userRole.name;
                            }
                        }
                    %>
                    <%= userRoleName %>
                </td>
								<td>
									<a href="/manage-users/edit/<%= user.id%>" style="display: inline-block;"><i class="fa fa-edit" title="EDIT"></i></a>
									<a href="/manage-users/delete<%= user.id%>" style="display: inline-block;"><i class="fa fa-trash-o" title="DELETE"></i></a>
									<form action="/manage-users/block" method="post" style="display: inline-block;">
										<button type="submit" name="block" value= <%=user.id %>><i class="fa fa-ban" title="BLOCK"></i></button>
									</form>
									<form action="/manage-users/unlock" method="post" style="display: inline-block;">
										<button type="submit" name="unlock" value= <%=user.id %> ><i class="fa fa-unlock" title="UNLOCK"></i></button>
									</form>
								</td>
							</tr>
						</tbody>
					<% }) %>
				</table>
				

			</div>
			<!-- //table -->
	</div>
<!-- script-for sticky-nav -->
		<script>
		$(document).ready(function() {
			 var navoffeset=$(".header-main").offset().top;
			 $(window).scroll(function(){
				var scrollpos=$(window).scrollTop(); 
				if(scrollpos >=navoffeset){
					$(".header-main").addClass("fixed");
				}else{
					$(".header-main").removeClass("fixed");
				}
			 });
			 
		});
		</script>
		<!-- /script-for sticky-nav -->
<!--inner block start here-->
<div class="inner-block">

</div>
<!--inner block end here-->
<!--copy rights start here-->
<div class="copyrights">
	 <p>&copy; 2024  Umar Ssekalala. All Rights Reserved </p>
</div>	
<!--COPY rights end here-->
</div>
</div>
  <!--//content-inner-->
		<!--/sidebar-menu-->
		<%- include('partials/side-bar')  -%>
				<div class="clearfix"></div>		
</div>
<script>
var toggle = true;
			
$(".sidebar-icon").click(function() {                
  if (toggle)
  {
	$(".page-container").addClass("sidebar-collapsed").removeClass("sidebar-collapsed-back");
	$("#menu span").css({"position":"absolute"});
  }
  else
  {
	$(".page-container").removeClass("sidebar-collapsed").addClass("sidebar-collapsed-back");
	setTimeout(function() {
	  $("#menu span").css({"position":"relative"});
	}, 400);
  }
				
				toggle = !toggle;
			});
</script>
<!--js -->
<script src="/js/jquery.nicescroll.js"></script>
<script src="/js/scripts.js"></script>
<!-- Bootstrap Core JavaScript -->
   <script src="/js/bootstrap.min.js"></script>
   <!-- /Bootstrap Core JavaScript -->	   

</body>
</html>